.timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    margin-bottom: 30px;
}

.timer__block {
    width: 102px;
    height: 120px;
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 300;
    text-align: center;

    span {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 56px;
    font-weight: 700;
    }
}
